<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user,
    size: Settings.micropost_user_gravatar_size), micropost.user %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="content">
    <%= micropost.content %>
  </span>
  <span class="timestamp">
    <%= t "posted_x_ago", time: time_ago_in_words(micropost.created_at) %>
  </span>
</li>
